/*
 * Algo Action Control Panel
 */
.algoAction {
    -fx-min-width: 160;
}

.algoReset {
    -fx-min-width: 100;
}

.algoControl {
    -fx-min-height: 40;
    -fx-font-weight: bold;
    -fx-font-size: larger;
}

.algoControlPanel {
    -fx-background-color: #3c3f41;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -fx-border-width: 1;
    -fx-border-color: darkgrey;
    -fx-min-height: 130;
    -fx-max-width: 240;
    -fx-min-width: 240;
}

.algoSettingsPanel {
    -fx-background-color: #3c3f41;
    -fx-background-radius: 40;
    -fx-font-size: 12pt;
}

.algoTitlePanel {
    -fx-background-color: #3c3f41;
    -fx-border-radius: 40;
    -fx-border-width: 1;
    -fx-border-color: darkgrey;;
    -fx-background-radius: 40;
    -fx-min-height: 100;
    -fx-max-width: 240;
    -fx-min-width: 350;
}

.algoLabeledTile {
    -fx-background-radius: 40;
    -fx-background-color: #3c3f41;
    -fx-border-width: 2;
    -fx-border-color: accent-gradient;
    -fx-border-radius: 40;
    -fx-font-size: 24pt;
    -fx-effect: dropshadow(gaussian, black, 30, 0.1, 5, 10);
}

.algoLabeledTile:hover {
    -fx-background-color: on-hovor-color;
}