
.root {
    -fx-font-family: Arial;
    accent-color-bright: #DE20DD;
    accent-color-dark: #9509E0;
    accent-color-bright-pale: #E375E2;
    accent-color-dark-pale: #B155E3;

    dark-background: #2b2b2b;
    dark-foreground: #3c3f41;
    on-hovor-color: darkgrey;

    accent-gradient: linear-gradient(to bottom, accent-color-bright, accent-color-dark);

    -fx-background-color: dark-background;

    -fx-light-text-color: mintcream;
    -fx-mid-text-color: mintcream;
    -fx-dark-text-color: black;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-fit-to-width: true;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

/*
 * Button
 */
.button {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to bottom, accent-color-bright, accent-color-dark);
    -fx-background-radius: 20;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, accent-color-bright-pale, accent-color-dark-pale);
}

/*
 * Choice Box
 */
.choice-box {
    -fx-background-color: transparent;
    -fx-background-insets: 1;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 20;
}

.choice-box:hover {
    -fx-background-color: on-hovor-color;
    -fx-background-radius: 20;
    -fx-background-insets: 1;
}

.choice-box .arrow {
    -fx-background-color: accent-color-bright;
}

.choice-box .context-menu {
    -fx-background-color: dark-foreground;
    -fx-border-color: darkgrey;
}

.choice-box .context-menu .list-view {
    -fx-background-color: transparent;
}

.choice-box .menu-item:focused {
    -fx-background-color: accent-gradient;
}

/*
 * Spinner
 */
.spinner {
    -fx-background-color: transparent;
}

.spinner .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 10 0 0 10;
}

.spinner .text-field:hover {
    -fx-background-radius: 10 0 0 10;
    -fx-background-insets: 1;
    -fx-background-color: on-hovor-color;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button  {
    -fx-border-width: 1 1 1 0;
    -fx-border-color: black;
    -fx-background-color: transparent;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover  {
    -fx-background-color: on-hovor-color;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: accent-color-bright;
}

.spinner .increment-arrow-button:hover {
    -fx-background-radius: 0 10 0 0;
}

.spinner .decrement-arrow-button:hover {
    -fx-background-radius: 0 0 10 0;
}

.spinner .increment-arrow-button  {
    -fx-border-radius: 0 10 0 0;
}

.spinner .decrement-arrow-button  {
    -fx-border-radius: 0 0 10 0;
}

/*
 * Slider
 */

.slider .track {
    -fx-background-color: accent-gradient;
}

.slider .thumb {
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-border-color: black;
}


/*
 * Text Field
 */
.text-field {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: black;
}

.text-field:hover {
    -fx-background-color: on-hovor-color;
}